target/classes/hello-mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2519384d-8f02-48c8-a182-6ab31328e473" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-muleFlow" doc:id="0ece29ee-07e9-4a7c-b15a-afeb1c8aee11" >
		<http:listener doc:name="Listener" doc:id="8e35599c-d641-4da5-8e51-0bb2d2826a6a" config-ref="HTTP_Listener_config" path="/hellomule"/>
		<ee:transform doc:name="Transform Message" doc:id="958e733f-5bde-44ae-b529-af2130f660ab" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Message":"Thia is Hello Mule project"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="38782fa9-8b74-43ba-bd5c-c82790b3cf60" message="logger is #[payload]"/>
	</flow>
</mule>
